<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Post</title>

    <style>
        .main{background-color: pink;}
    </style> 
</head> -->

<%- include("../public/partials/header.ejs") %>

    <body>
        <h2>Edit Your Entry</h2>

        <div class="editMain">
<!-- 
            <div class="editFormDiv"> -->

                <div id="formAlign">
                <form action="/pens/<%=entry.id%>?_method=PUT" method="POST">
                    <label for="entryTitle">Title:</label> <br>
                    <input type="text" name="entryTitle" value="<%=entry.entryTitle%>" class="entryTitle" id="entryTitle"> <br>

                    <label for="entryText">Edit Your Post(420 characters max):</label> <br>
                    <!-- <input type="text" name="entry" value="<%=entry.entry%>" class="entryText" id="entryText"> <br> -->
                    <textarea name="entry" class="entryText" id="entryText" maxlength="420"><%=entry.entry%></textarea> <br>

                    <input type="submit" value="Update">
                </form>
                </div>
                
            <!-- </div> -->

            <a href="/pens">Back Home</a>

        </div>
    </body>

    </html>