<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
</head> -->

<%- include("../public/partials/header.ejs") %>

    <body>
        <div class="main">

            <button class="newEntryBtn">
                <a href="/pens/new">
                    Create a new entry
                </a>
            </button>
            

            <% for(let i in pens){ %>
                <!-- Single Post Div -->
                <div class="postDiv">
                        <!-- Dropdown Menu Button -->
                        <div class="dropNav">
                            <button onclick="dropNavFn(<%=i%>)" class="dropNavBtn" id="dropNavItem<%=i%>">. . .
                            </button>

                            <div class="navItems" id="navItems<%=i%>">
                                <a href="/pens/<%=pens[i].id%>">
                                        View
                                </a><br>
                                <!-- edit button -->
                                <a href="/pens/<%= pens[i].id %>/edit">
                                        Edit
                                </a>
                            </div>
                        </div>

                        <!-- Single Post Content -->
                        <div class="singlePost">

                            <h2>
                                <%= pens[i].entryTitle %>
                            </h2>
                            <h4>
                                <%= pens[i].entry %>
                            </h4>
                            <p class="dateItem">
                                <% let pensDate = pens[i].createdAt %>
                                <%= pensDate.toDateString() %>
                            </p>
                        </div>
                </div>
                <% } %>

        </div>
    </body>

    </html>