<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
</head> -->

<%- include("../public/partials/header.ejs") %>

    <body>
        <div class="main">

            <button class="newEntryBtn">
                <a href="/pens/new">
                    Create a new entry
                </a>
            </button>

            <% for(let i in pens){ %>
                <!-- Single Post Div -->
                <div class="postDiv">
                    <!-- <ul> -->
                        <!-- Single Post Navbar -->
                        <nav class="singleNav">
                            <a href="/pens/<%=pens[i].id%>">
                                <button>
                                    View Post
                                </button>
                            </a>
                            <!-- edit button -->
                            <a href="/pens/<%= pens[i].id %>/edit">
                                <button>Edit Post</button>
                            </a>
                            <!-- delete button -->
                            <!-- <form action="/pens/<%= pens[i].id%>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete Post">
                                </form> -->
                        </nav>


                        <!-- Single Post Content -->
                        <div class="singlePost">
                            <h2>
                                <%= pens[i].entryTitle %>
                            </h2>
                            <h4>
                                <%= pens[i].entry %>
                            </h4>
                        </div>
                    <!-- </ul> -->
                </div>
                <% } %>


        </div>


    </body>

    </html>