<%- include("../public/partials/header.ejs") %>

<body>
    <div class="main">
        <a href="/pens"> Home </a>
    <h1>
       Hi <%= user.username %> !
    </h1>

    <button class="newEntryBtn">
        <a href="/pens/new">
            Create a new entry
        </a>
    </button>

        <div class="postDiv">
            <% for(i in posts){ %>
                <div class="singlePost">
                    <h2>
                        <%= posts[i].entryTitle %>
                    </h2>
                    <h4>
                        <%= posts[i].entry %>
                    </h4>

                    <p class="dateItem">
                        <% let postDate = posts[i].createdAt %>
                        <%= postDate.toDateString() %>
                    </p>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>