<%- include("../public/partials/header.ejs") %>

    <body>
        <h1 id="profileTitle">
            Hi <%= user.username %> !
        </h1>

        <div class="main">
            <a href="/pens" id="profileHome">Home</a>

            <a href="/pens/new" class="newEntryBtn">
                Create a new entry
            </a>

            <% for(i in posts){ %>
                <div class="postDiv">
                    <!-- Dropdown Menu Button -->
                    <div class="dropNav">
                        <button onclick="dropNavFn(<%=i%>)" class="dropNavBtn" id="dropNavItem<%=i%>">. . .
                        </button>

                        <div class="navItems" id="navItems<%=i%>">
                            <a href="/pens/<%=posts[i].id%>">
                                View
                            </a><br>
                            <!-- edit button -->
                            <a href="/pens/<%= posts[i].id %>/edit">
                                Edit
                            </a>
                        </div>
                    </div>
                    <div class="singlePost">
                        <h2>
                            <%= posts[i].entryTitle %>
                        </h2>
                        <h4>
                            <%= posts[i].entry %>
                        </h4>

                        <p class="dateItem">
                            <% let postDate=posts[i].createdAt %>
                                <%= postDate.toDateString() %>
                        </p>
                    </div>
                </div>
                <% } %>

        </div>
    </body>

    </html>