<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
</head> -->

<%- include("../public/partials/header.ejs") %>

    <body>
        <div class="showMain">

            <div class="showPost">
                <div class="showText">
                    <h1>
                        <%= pens.entryTitle %>
                    </h1>
                    <h4>
                    <%= pens.entry %>
                    </h4>
                </div>
            </div>

            <!-- delete button -->
            <form action="/pens/<%= pens.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Post">
            </form>
            <!-- edit button -->
            <a href="/pens/<%= pens.id %>/edit">
                <button>Edit Post</button>
            </a>

            <a href="/pens">Back Home</a>
        </div>

    </body>

    </html>